@import "~bulma/sass/utilities/initial-variables";
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Quicksand&display=swap');

// colors
/*$primary : #3389cb;
#ffc107
*/

//colors
$gris : #393357;
$primary: $gris;
$sur: #ffffff;
$yell : #BB9140;
$link : $yell;


$skeleton-duration: 2s;

//navbar
$navbar-item-color : white;
$navbar-item-hover-background-color:#BB9140;
$navbar-item-active-background-color : #67727b;
$navbar-burger-color: #ffffff;
$navbar-background-color : #ffffff;
$footer-background-color:#ffffff;
//$footer-padding:0rem;

//font
$family-primary: 'Quicksand';

@import "~bulma";
@import "~buefy/src/scss/buefy";