@import "~bulma/sass/utilities/initial-variables";
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Quicksand&display=swap');

// colors
/*$primary : #3389cb;
#ffc107
*/

//colors
$gris : #2BABE2;
$primary: $gris;
$sur: #ffffff76;

$skeleton-duration: 2s;

//navbar
$navbar-item-color : white;
$navbar-item-hover-background-color:#afccd8;
$navbar-item-active-background-color : #67727b;
$navbar-burger-color: #ffffff;
$navbar-background-color : #ffffff;

//font
$family-primary: 'Quicksand';

@import "~bulma";
@import "~buefy/src/scss/buefy";